# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
out/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code
.vscode/

# OS / 시스템 파일
.DS_Store
.AppleDouble
.LSOverride

# Windows Explorer thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# vi/vim swap files
*.swp
*.swo
*~

# Logs
logs/
*.log

# Environment variables
.env

# Spring Boot DevTools
.spring-boot-devtools.properties